<article id="page-departure-content" data-role="content" style="background-image: url(<%= asset_path 'back.jpg' %>);">
	<%= image_tag('notobus.png', id: "img_notobus") %>
	<br>
	<div id="descriptionBox">
		こんにちは！<br>
		<% if @userName == "" %>
		<b>ゲスト</b> さん<br>
		<% else %>
		<b><%= @userName %></b> さん<br>
		<% end %>
		<br>
		出発地を選択し、「開始する」を押してください<br>
		旅の記録がスタートします！
	</div>
	<br>
	<%= form_tag( { controller: :notopochi, action: :depart},  id: :formdepart, class: :depart, method: :post) do %>
		<text id="textBoxTitle">出発地リスト</text>
		<%= select :formdeparture, :name, @departurePoints %><br>
		<%= button_tag('開始する', id: :'btn_next', type: :'submit') %>
	<% end %>
</article>
