<article id="page-login-content" data-role="content" style="background-image: url(<%= asset_path 'back.jpg' %>);">
	<%= image_tag('notobus.jpg', id: "img_notobus") %>
	<% # TODO:data-ajax false はまだ指定していない。できるのか？ %>
	<p id="description">ユーザーIDとパスワードを入力して<br>ログインボタンを押してください</p><br>
	<%= form_tag( { controller: :notopochi, action: :do_login}, id: :formlogin, class: :do_login, method: :post) do %>
		<text id="textBoxTitle">ユーザーID</text>
		<%= text_field_tag :user, '',size:30,placeholder:'userID' %>
		<br>
		<text id="textBoxTitle">パスワード</text>
		<%= password_field_tag :pass, '',size:30, placeholder:'password' %>
		<br>
		<%= button_tag('ログイン', id: :'btn_next', type: :'submit') %>
	<% end %>
	<br>
	<br>
	<%= button_tag('のとぽちとは', id: :'btn_notopochi', type: :'button') %>
</article>
